<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>   <!-- 扫描指定包下的类，类名称就是别名 -->
        <package name="com.yootk.mybatis.vo"/>
    </typeAliases>
    <environments default="mysqlDev">    <!-- 定义数据库连接的相关配置 -->
        <environment id="mysqlDev"> <!-- 配置MySQL数据库连接 -->
            <transactionManager type="jdbc"/>   <!-- 事务控制类型 -->
            <dataSource type="POOLED">  <!-- 使用连接池的模式管理连接 -->
                <property name="driver" value="org.gjt.mm.mysql.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/yootk" />
                <property name="username" value="root" />
                <property name="password" value="mysqladmin" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/yootk/mybatis/vo/mapper/News.xml"/>
    </mappers>
</configuration>